<div class="text-center">
  <header>
    <h1>Tic Tac Toe IA</h1>
  </header>

  <div id="box">

    <div id="message"></div>
    <ul id="gameBoard">

      <li class="tic" (click)="sendCoordinates(0,0,valueUser)" *ngIf="totito[0][0] === 0" > - </li>
      <li class="tic" (click)="sendCoordinates(0,0,valueUser)" *ngIf=" !(totito[0][0] === 0) "> {{  totito[0][0] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(0,1,valueUser)" *ngIf="totito[0][1] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(0,1,valueUser)" *ngIf=" !(totito[0][1] === 0) "> {{  totito[0][1] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(0,2,valueUser)" *ngIf="totito[0][2] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(0,2,valueUser)" *ngIf=" !(totito[0][2] === 0) "> {{  totito[0][2] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(1,0,valueUser)" *ngIf="totito[1][0] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(1,0 ,valueUser)" *ngIf=" !(totito[1][0] === 0) "> {{  totito[1][0] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(1,1,valueUser)" *ngIf="totito[1][1] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(1,1,valueUser)" *ngIf=" !(totito[1][1] === 0) "> {{  totito[1][1] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(1,2,valueUser)" *ngIf="totito[1][2] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(1,2,valueUser)" *ngIf=" !(totito[1][2] === 0) "> {{  totito[1][2] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(2,0,valueUser)" *ngIf="totito[2][0] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(2,0,valueUser)" *ngIf=" !(totito[2][0] === 0) "> {{  totito[2][0] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(2,1,valueUser)" *ngIf="totito[2][1] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(2,1,valueUser)" *ngIf=" !(totito[2][1] === 0) "> {{  totito[2][1] === 1 ? 'O' : 'X'  }} </li>

      <li class="tic" (click)="sendCoordinates(2,2,valueUser)" *ngIf="totito[2][2] === 0"> - </li>
      <li class="tic" (click)="sendCoordinates(2,2,valueUser)" *ngIf=" !(totito[2][2] === 0) "> {{  totito[2][2] === 1 ? 'O' : 'X'  }} </li>

    </ul>
    <div class="clearfix"></div>
    <footer>
      <button id="reset" (click)="initializeBoard()">Limpiar</button>
    </footer>
  </div>

  <div *ngIf="thewinner > 0" class="without-scroll">
    <h1 class="text-center">
      {{ (thewinner === 0 ? '' : thewinner === 1 ? 'Jugador 1 es el Ganador' : 'Jugador 2 es el Ganador') }}
    </h1>
    <h3 class="victory-label">Victorias</h3>
    <div class="row">
      <div class="col-lg-4"></div>
      <table class="table-wins col-lg-3">
        <tbody>
        <tr>
          <td>Jugador</td>
          <td>{{winsOfPlayerOne}}</td>
        </tr>
        <tr>
          <td>IA</td>
          <td>{{winsOfIA}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
